@import url("https://fonts.googleapis.com/css?family=Vibes&display=swap");
body {
  background: url("/img/indianpizza36.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #2a292c;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #2a292c; }

address {
  font-size: 80%;
  margin: 0px; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: goldenrod; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: goldenrod; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.nav-link {
  color: #ee5d4d; }

.footer a {
  color: floralwhite; }

#loginModal {
  color: black; }

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #2a292c; }

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: goldenrod; }

.nav-link {
  color: #ee5d4d; }

h1, h2, h3, h4 {
  font-family: 'Vibes', cursive, strong;
  font-weight: strong;
  color: #ee5d4d; }

.card-header {
  color: floralwhite;
  background-color: goldenrod; }

.card-body {
  background-color: #2a292c; }

th, tr {
  color: floralwhite; }

.btnfeedback, .form-control {
  background-color: floralwhite; }

.badge {
  padding: 5px 5px 0px 5px; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: darkkhaki; }

.carousel-item {
  height: 300px; }

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px; }

.carousel-caption {
  position: absolute;
  left: 350px;
  top: 0px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  /* bring to front */ }

.modal-body, .modal-header, .modal-footer {
  background-color: goldenrod;
  color: floralwhite; }
  .modal-body .btn-secondary, .modal-header .btn-secondary, .modal-footer .btn-secondary {
    background-color: red;
    color: #2a292c; }

.closeBtn {
  background-color: floralwhite; }
