
@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');

body {
  background: url('/img/buffet1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(42, 41, 44);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: salmon;
    
}

.footer a {
    color: floralwhite;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: rgb(42, 41, 44);
    color: salmon;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: goldenrod;
    
}

.nav-link {
    color: salmon;
}

h1, h2, h3, h4 {
    font-family: 'Vibes', cursive, strong;
    font-weight: strong;
}

.card-header {
    color: floralwhite;
    background-color: goldenrod;
}

.card-body {
    background-color: rgb(42, 41, 44);
}

th, tr {
    color: floralwhite;
}

.btnfeedback, .form-control  {
    background-color: floralwhite;
}

.badge {
    padding: 5px 5px 0px 5px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}