@import url('https://fonts.googleapis.com/css?family=Vibes&display=swap');

body {
    background: url('/img/buffet1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
  }

$lt-gray: #ddd;
$background-dark: goldenrod;
$background-light:rgb(238, 93, 77);
$background-pale: rgb(42, 41, 44);
$text-white: floralwhite;

$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px, 0px);
}

.row-content {
    @include zero-margin(50px, 0px);    
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-pale;
}

address {
    font-size: 80%;
    margin: 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: $background-dark;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}

.carousel {
    background: $background-dark;
    
    .carousel-item {
        height: $carousel-item-height;
        img {
                position: absolute;
                top: 0;
                left: 0;
                min-height:  300px;
        }
    }
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.nav-link {
    color: $background-light;
}

.footer a {
    color: $text-white;
}

#loginModal {
    color: black;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: rgb(42, 41, 44);
    
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: goldenrod;
    
}

.nav-link {
    color: $background-light;
}

h1, h2, h3, h4 {
    font-family: 'Vibes', cursive, strong;
    font-weight: strong;
    color: $background-light;
}

.card-header {
    color: $text-white;
    background-color: $background-dark;
}

.card-body {
    background-color: rgb(42, 41, 44);
}

th, tr {
    color: $text-white;
}

.btnfeedback, .form-control  {
    background-color: $text-white;
}

.badge {
    padding: 5px 5px 0px 5px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: darkkhaki;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel-caption {
    position: absolute;
    left: 350px;
    top: 0px;
  }

#carousel-button {
      right: 0px;
      position: absolute;
      bottom: 0px;
  }

.modal-body, .modal-header, .modal-footer {
    background-color: $background-dark;
    color: $text-white;
}